//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the about page.
// -----------------------------------------------------------------------------

main.about {
  .hero-banner {
    padding: 140px 0 80px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/about/img-hero-banner.jpg') no-repeat center center;
    background-size: cover;

    .section-wrapper {
      .img-holder {
        width: 250px;
        height: auto;
        margin: 0 auto;

        img {
          width: 100%;
          border-radius: 50%;
          border: 5px solid #fff;
        }
      }

      .text-holder {
        p { margin-top: 30px; }
      }
    }
  }

  .section-ump {
    .section-wrapper {
      .text-holder {
        .desc { padding: 0 220px; }
      }

      .img-holder {
        width: 500px;
        margin: 0 auto;

        img {
          width: 100%;
          box-shadow: 0 0 20px #8c8585;
        }
      }
    }
  }

  .section-moving-feet {
    background-color: $light-grey;

    .col-holder {
      position: relative;

      .desc-holder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .img-holder {
        img {
          width: 100%;
          box-shadow: 0 0 40px rgba(121, 117, 117, 0.32);
          border-radius: 10px;
        }
      }
    }
  }

  .section-img-gallery {
    overflow-x: hidden;
    overflow-y: hidden;

    .container-holder {
      padding: 0;

      .row-holder {
        margin: 0 -3px;

        .col-holder {
          padding: 0 3px;

          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6) {
            margin-top: 6px;
          }

          .img-holder {
            position: relative;

            a {
              @include on-event {
                color: $brand-color;

                .hover-desc-holder {
                  color: $brand-color;
                  opacity: 1;
                  transition: all 0.5s ease-in-out;
                }
              }
            }

            .hover-desc-holder {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0,0,0,0.5);
              border-radius: 5px;
              opacity: 0;

              .featured-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
              }
            }

            img {
              width: 100%;
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  .section-hobbies-interest {
    .row-holder {
      margin-top: 40px;
      text-align: center;

      .featured-holder {
        .text-holder {
          p {
            margin: 10px 0;
            font-size: 13px;
          }
        }
      }
    }
  }
}
