//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------

main.contact {
  .hero-banner {
    position: relative;
    height: 350px;
    padding: 140px 0 80px;
    background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  }

  .section-contact {
    .contact-intro-holder {
      .desc {
        margin-bottom: 40px;
        padding: 0 250px;
      }
    }

    .form-holder {
      input,
      textarea {
        width: 100%;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 14px;
        border: 1px solid $grey-1;
      }
    }
  }
}
