//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

main.homepage {
  .hero-banner {
    position: relative;
    height: 100vh;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url('../assets/images/homepage/hero-laptop-code.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

    .container {
      .section-wrapper {
        .content-holder {
          margin: auto;

          h1 {
            color:  $white;
            text-transform: uppercase;
            font: 300 35px/55px $text-font-stack;
          }

          p {
            margin-top: 15px;
            color:  $white;
            font: 300 19px/25px $font-handlee;
          }

          .btn-holder {
            margin-top: 60px;
            margin-bottom: 60px;

            .btn { margin: 10px; }
          }

          .btn-scroll-down-wrapper {
            margin-top: 60px;
          }
        }
      }
    }
  }

  .section-website-development {
    background-color: $light-grey;

    .section-wrapper {
      .col-holder {
        display: flex;

        .video-holder {
          video { width: 100%; }
        }

        .text-holder {
          margin: auto;

          p { font-size: 15px; }
        }
      }
    }
  }

  .section-services {
    background: $white;

    .section-wrapper {
      h2 { margin-bottom: 30px; }

      .row-holder {
        .info { padding: 20px 0; }
      }
    }
  }
}
