//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the pricing page.
// -----------------------------------------------------------------------------

main.plans-pricing {
  .hero-banner {
    padding: 140px 0 80px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/pricing/img-hero-banner.jpg') no-repeat center center;
    background-size: cover;
  }

  .section-pricing {
    background-color: $light-grey;

    .pricing-card-wrapper {
      .row-holder {
        .col-holder {
          .content {
            padding: 15px;
            box-shadow: 0 1px 4px rgba(0,0,0,.23);
            background-color: $white;
            border-radius: 5px;

            .desc-holder {
              text-align: left;

              ul {
                li {
                  padding: 10px 0;
                  font-size: 14px;
                  border-bottom: 1px solid #e3e3e3;
                }
              }
            }
          }
        }
      }
    }
  }
}
