//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the portfolio page.
// -----------------------------------------------------------------------------

main.portfolio {
  .hero-banner {
    padding: 140px 0 80px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/portfolio/img-hero-banner.jpg') no-repeat center center;
    background-size: cover;
  }

  .section-portfolio-intro {
    .desc {
      padding: 0 240px;
    }
  }
}
