//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the order page.
// -----------------------------------------------------------------------------

.page-id-30 {
  .container-holder {
    max-width: 550px;

    .wpcf7-form {
      padding: 40px 30px;
      border: 1px solid #e2e2e2;
      border-radius: 6px;
      box-shadow: 0 0 10px rgba(193, 193, 193, 0.5);

      .a-margin { margin-bottom: 15px; }

      p {
        margin-bottom: 0;
        line-height: 1;
      }

      input,
      select,
      textarea {
        width: 100%;
        margin: 8px 0;
        padding: 10px 15px;
        font-size: 14px;
        border: 1px solid #e3e3e3;
      }

      .fname-lname {
        display: flex;
        width: 100%;
      }

      .label-xs { font-size: 11px; }

      .your-fname {
        display: inline-block;
        width: 49%;
        margin-right: 2%;
      }

      .your-lname {
        display: inline-block;
        width: 49%;
      }

      .wpcf7-submit {
        width: unset;
        cursor: pointer;

        &:hover { background-color: #b5b5b5; }
      }
    }
  }
}
