//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the contact page.
// -----------------------------------------------------------------------------

.page-id-8 {
  header { background-color: #272727; }

  main {
    &.contact {
      padding-top: 60px;

      .wpcf7-form {
        padding: 40px 30px;
        border: 1px solid #e2e2e2;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(193, 193, 193, 0.5);

        p {
          margin-bottom: 0;
        	line-height: 1;
        }

        .name-holder,
        .email-holder,
        .message-holder {
          display: inline-block;
        	width: 100%;
        	margin-bottom: 15px;
        }

        .wpcf7-form-control-wrap { margin-bottom: 15px; }

        .label-xs { font-size: 11px; }

        .your-fname {
          float: left;
        	display: inline-block;
          width: 49%;
          margin-right: 2%;
        }

        .your-lname {
          float: left;
        	display: inline-block;
          width: 49%;
        }

        .wpcf7-submit {
          width: unset;
          cursor: pointer;

          &:hover { background-color: #b5b5b5; }
        }
      }
    }
  }
}
