//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer.footer {
    .footer-banner {
        padding: 40px;

        .container {
            img {
                position: absolute;
                right: 0;
                width: 300px;
                margin-top: -220px;
            }

            span {
                vertical-align: middle;
                font-size: 16px;
            }
        }
    }

    .footer-form {
        padding: 40px 0;
        background: #000;

        .container {
            .headline {
                h4 {
                    margin-bottom: 40px;
                    color: #ddd;
                    text-align: center;
                    text-transform: uppercase;
                }

                h4:before {
                    content: " ";
                    position: absolute;
                    top: 35px;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    border-top: none;
                    border-bottom: 2px solid rgba(255,255,255,0.17);
                    border-radius: 3px;
                }
            }

            .form-wrapper {
                .form-material-design {
                    .name,
                    .project-name,
                    .file {
                        width: 49%;
                        float: left;
                        display: inline;
                    }

                    .email,
                    .project-type,
                    button {
                        width: 49%;
                        float: right;
                        display: inline;
                    }

                    .file { background: #d8d8d8; }

                    .text-area { clear: both; }
                }

                .text-mail-wrapper {
                    padding-top: 30px;
                    clear: both;

                    h1 {
                        margin: 0 auto;
                        text-align: center;
                        font-size: 18px;
                        color: #ddd;
                        clear: both;
                    }
                }
            }
        }
    }

    .footer-content {
        padding: 10px 0;
        background-color: #000;

        .container {
            text-align: center;

            p {
                font: normal 12px 'Poppins', sans-serif;
                margin: 0;
            }

            .policy-wrapper {
                ul {
                    padding: 0;
                    margin: 0 auto;
                    list-style: none;

                    li {
                        margin: 0 10px;
                        display: inline-block;
                        font-size: 12px;

                        a { color: #777; }
                    }
                }
            }
        }
    }
}
