//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header.header {
  position: fixed;
  z-index: 2;
  width: 100%;

  &:hover {
    background: #272727;
    transition: all 0.5s ease-in-out;
  }

  .main-nav {
    .container {
      .navbar {
        padding: 12px 0;

        a {
          font-size: 15px;
          color: $light-grey;

          &:hover { color: $brand-color; }
        }

        .navbar-nav {
          li {
            &.active {
              a { color: $brand-color; }
            }
          }
        }
      }
    }
  }
}

// sticky navbar
.sticky-navbar { background: #272727; }
