//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-brand {
  color: $brand-color;
  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  border-color: $brand-color;
  background: transparent;

  @include on-event {
    color: $white;
    background: $brand-color;
    transition: all 0.5s ease-in-out;
  }
}

.btn-round-brand {
  padding: 10px 20px;
  color: $white;
  font-size: 14px;
  border-radius: 20px;
  background: $brand-color;

  @include on-event {
    color: $white;
    background: $brand-2;
    transition: all 0.3s ease-in-out;
  }
}

.btn-round-white {
  padding: 10px 20px;
  color: $text-color;
  font-size: 14px;
  border-radius: 20px;
  background: $white;

  @include on-event {
    color: $white;
    background: $brand-color;
    transition: all 0.3s ease-in-out;
  }
}

.btn-grey {
  color: $white;
  font-weight: 300;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  border-color: $light-grey;
  background: transparent;

  @include on-event {
    color: $white;
    background: $brand-color;
    border-color: $brand-color;
    transition: all 0.5s ease-in-out;
  }
}

.btn-scroll-wrapper {
  position: relative;
  display: flex;
  width: 100%;

  @keyframes glowing-circile {
    0% { opacity: 0; }

    30% { opacity: 1; }

    60% {
      box-shadow: 0 0 0 60px rgba(255,255,255,.1);
      opacity: 0;
    }

    100% { opacity: 0; }
  }

  @keyframes showhide {
    0% { opacity: 0; }

    50% { opacity: 1; }

    100% { opacity: 0; }
  }

  .btn-scroll-down {
    z-index: 2;
    display: inline-block;
    margin: auto;
    color: #fff;
    outline: none;

    .label {
      position: relative;
      font-size: 15px;
    }

    &:hover { opacity: 0.5; }

    .animation-arrow {
      position: absolute;
      top: 0;
      left: 50%;
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      // margin-left: -12px; old bkp
      margin-left: -17px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg);
      -webkit-animation: showhide 3.2s infinite;
      animation: showhide 3.2s infinite;
      opacity: 0;

      &:nth-of-type(1) {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
      }

      &:nth-of-type(2) {
        top: 16px;
        -webkit-animation-delay: .15s;
        animation-delay: .15s;
      }

      &:nth-of-type(3) {
        top: 32px;
        -webkit-animation-delay: .3s;
        animation-delay: .3s;

        &:before {
          content: '';
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: -1;
          width: 10px;
          height: 10px;
          box-sizing: border-box;
          box-shadow: 0 0 0 0 rgba(255,255,255,.1);
          border-radius: 100%;
          opacity: 0;
          -webkit-animation: glowing-circile 3.3s infinite;
          animation: glowing-circile 3.3s infinite;
        }
      }
    }
  }
}
