//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the global component.
// -----------------------------------------------------------------------------

.section-padding {
  position: relative;
  padding: 70px 0;

  @include respond-to(md-down) { padding: 40px 0; }
}
