//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the sections component.
// -----------------------------------------------------------------------------

.section-hire-me {
  position: relative;
  height: 500px;
  padding: 0;
  margin: 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/homepage/bg-laptop-code.jpg') center/cover no-repeat fixed;
  overflow-y: hidden;
  overflow-x: hidden;

  canvas { opacity: 0.3 }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .section-wrapper {
      .hire-me-text-1 {
        padding: 0 0 20px;
        color: $white;
        text-transform: uppercase;
        font: normal 40px $font-poppins;
      }

      .hire-me-text-2 {
        color: $white;
        font: italic bold 16px $font-handlee;
      }

      .btn { margin-top: 30px; }
    }
  }
}

.section-portfolio {
  background-color: $light-grey;

  .section-wrapper {
    .section-sub-title {
      margin-bottom: 30px;
      padding-bottom: 5px;
      border-bottom: 1px solid #C6C6C6;
    }
    .col-holder {
      .content-holder {
        position: relative;
        height: 350px;
        border: 1px solid $grey-2;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .hover-desc {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: rgba(99, 108, 114, 0.8);

          @include on-event {
            opacity: 1;
            transition: all 0.5s ease-in-out;
          }

          .desc-holder {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .featured-title {
              margin: 30px 0;
              text-align: center;
              color: $white;
            }

            .btn { cursor: pointer; }
          }
        }

        .modal {
          .modal-dialog {
            min-width: 50%;
            margin: 100px auto;

            .modal-content {
              box-shadow: 0px 0px 50px $grey-3;

              .modal-header {
                position: relative;
                height: 400px;
                padding: 0;

                .btn-holder {
                  position: absolute;
                  top: 0;
                  right: 0;
                  background: $white;

                  .close {
                    width: 40px;
                    height: 40px;
                    font-size: 38px;
                    outline: none;
                  }
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .modal-body {
                table {
                  tr {
                    td {
                      p {
                        margin: 0;

                        font: 300 15px $font-poppins;
                      }
                    }
                  }
                }

                .desc { font-size: 14px; }
              }

              .modal-footer { justify-content: left; }
            }
          }
        }
      }
    }
  }
}
