// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/* custom */

/* main section gallery > slideshow & item bought */
.slide-show {
    .item-gallery {
        ul {
            li {
                .thumbnail{
                    &:hover .thumb-box  {
                        /* Visual */
                        visibility:visible;
                        
                        /* Positioning */
                        text-align:center;
                        position: absolute;
                        width:100%;
                    }
                    .thumb-box {
                        /* Visual */
                        visibility: hidden;
                        span {
                            /* Positioning */
                            position: absolute;
                            top: -3px; 
                            right: -8px;
                            
                            /* Visual */
                            color: $dark-grey;
                        }
                    }
                }
            }
        }
    }
    .group-item-bought {
        h3 {
            /* Typography */
            font-size: 20px;
            
            /* Positioning */
            margin-left: -5px;
        }
    }
}

/* item product informations */
.product-info {
    .product-desc {
        /* Positioning */
        margin-top: -10px;
        
        /* Typography */
        letter-spacing: 2px;
    }
    hr {  margin-top: 1px; }
    ul {
        li {
            .glyphicon-star-empty { font-size: 16px; }
        }
    }
    .product-spec {
        /* Typography */
        letter-spacing: 1px;
        font-size: 20px;
        
        /* Positioning */
        margin-top: 23px;
        margin-bottom: 14px;
    }
    .product-spec-child-1 { margin-top: 20px; }
    .product-spec-child-2 { margin-top: -7px; }
    .product-spec-child-3 { margin-top: -7px; }
    .product-old-price { margin-top: 37px; }
    .product-new-price {
        /* Typography */
        font-size: 20px;
        
        /* Positioning */
        margin-top: -10px;
        .text-big { font-size: 28px; }
    }
    .btn-add-basket {
        /* Positioning */
        margin: 8px 13px 0 3px;
        
        /* Box-model */
        width: 160px;
        padding: 1% 0; 
        
        /* Visual */
        background-color: #d10773;
        color: white;
        
        /* Typography */
        font-size: 16px;
        letter-spacing: 1px;
    }
    .btn-checkout {
        /* Positioning */
        margin-top: 8px;
        
        /* Box-model */
        width: 116px;
        padding: 1% 0; 
        
        /* Typography */
        font-size: 16px;
        letter-spacing: 1.5px;
    }
}














