// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Basic styles for links
 */
a {
    color: $brand-color;
    text-decoration: none;

    @include on-event {
        color: $text-color;
        text-decoration: underline;
    }
}

.btn, a {
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

/**
 * Basic styles for input fields
 */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-focus-ring-color: none;
    outline: none;
}

/* custom */
.no-padding {
    /* Box-model */
    padding: 0 !important;
    margin: 0 !important;
}

.horizontal-align {
    vertical-align: middle;
    padding: 1px 0 3px 0;
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid $dark-grey;
    margin: 1em 0;
    padding: 0; 
}

.ul-inline {
    /* Positioning */
    display: inline-block;
    vertical-align: middle;
}

.ribbon {
    /* Positioning */
    position: absolute;
    left: 290px;
    top: -28px;

    /* Box-model */
    width: 150px;
    height: 100px;
    
    /* Misc */
    z-index: 1000;
}

.circle-bg-img {
    /* Positioning */
    position: absolute;
    left: 215px;
    top: -114px;

    /* Box-model */
    width: 220px;
    height: 160px;
    
    /* Misc */
    z-index: -10;
}






