/**
 * Basic typography style for copy text
 */
body {
    color: $text-color;
    font: normal 125% / 1.4 $text-font-stack;
}

/* custom code */
.nounderline { text-decoration: none !important; }
.text-green { color: $green; }
.text-grey { color: $grey; }
.text-dark-grey { color: $dark-grey; }
.letter-spacing { letter-spacing: 1px; }
.text-small { font-size: 11.5px; }
.text-height-m { line-height: 140%; }
