// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/* custom */

/* footer img-advertisement and signup-form */
footer {
    min-height: 139px;
    /* Visual */
    background: #e4e4e4;
    background: -webkit-linear-gradient(#f3f3f3, #e4e4e4);
    background:    -moz-linear-gradient(#f3f3f3, #e4e4e4);
    background:     -ms-linear-gradient(#f3f3f3, #e4e4e4);
    background:      -o-linear-gradient(#f3f3f3, #e4e4e4);
    background:         linear-gradient(#f3f3f3, #e4e4e4);
    .img-advertisement { margin-top: 25px; }
    .wrapping-signup-footer {
        /* Box-model */
        padding-top: 13px;
        h4 { font-size: 16px; }
    }
    .signup-form {
        /* Positioning */
        margin-top: -3px;
        
        /* Box-model */
        border-radius: 5px;
        border: 1px solid $mid-grey;
        input {
            /* Box-model */
            padding: 1% 0;
            height: 19px;
        }
        button {
            /* Box-model */
            padding: 1% 0;
            height: 19px;
            width: 70px;
            
            /* Visual */
            background-color: #707271;
            color: white;
            
            /* Typhography */
            font-size: 11px;
            font-weight: 100;
        }
    }
}

.copyright {
    /* Box-model */
    min-height: 43px;
    
    /* Visual */
    background-color: #ebebeb;
        .copyright-wrapper{ padding: 8px 0; }
    ul {
        /* Positioning */
        margin-left: -6px;
        .copyright-list {
            /* Positioning */
            margin-top: 5px;
            padding: 0;
            
            /* Typhography */
            font-size: 10px;
            letter-spacing: 0.3px;
            
            /* Misc */
            &:last-child { padding-right: 10px;}
            &:not(:first-child):before { content: " | "; }
        }
        .credit-card-img {
            /* Positioning */
            vertical-align: middle;
            padding: 0;
            margin-top: 8px;
        }
    }
    .designer {
        /* Typograpy */
        font-size: 11px;
        letter-spacing: -0.3px;
        
        /* Positioning */
        padding-top: 5px;
    }
}



