// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/* custom code */

/* primary header */
header {
    .user-navbar-bg {
    /* Box-model */
	height: 35px;
        
    /* Visual */
    background: $light-pink;
    background: -webkit-linear-gradient($dark-pink, $light-pink);
    background:    -moz-linear-gradient($dark-pink, $light-pink);
    background:     -ms-linear-gradient($dark-pink, $light-pink);
    background:      -o-linear-gradient($dark-pink, $light-pink);
    background:         linear-gradient($dark-pink, $light-pink);
        .user-navbar {
            /* Box-model */
            height: 35px;
            
            /* Visual */
            background: $light-pink;
            background: -webkit-linear-gradient($light-pink, $dark-pink);
            background:    -moz-linear-gradient($light-pink, $dark-pink);
            background:     -ms-linear-gradient($light-pink, $dark-pink);
            background:      -o-linear-gradient($light-pink, $dark-pink);
            background:         linear-gradient($light-pink, $dark-pink);
            .user-navbar-btn {
                /* Positioning */
                padding-top: 8px;
                ul {
                    li { 
                        &:not(:first-child):before { content: " | "; }
                        
                        /* Visual */
                        color: $grey;
                        
                        /* Positioning */
                        margin-left: -9px;
                        
                        /* Typography */
                        font-size: 11px;
                        letter-spacing: 0.8px;
                    }
                }
            }
            .right-inner-addon {
                /* Positioning */
                position: relative;
                    .search-bar {
                        /* Visual */
                        background-image: url('../assets/images/search.png');
                        background-repeat: no-repeat;

                        /* Positioning */
                        margin-top: 5px;
                        margin-right: -5px;

                        /* Box-model */
                        border-radius: 5px;
                        padding-right: 30px;
                        padding-left: 21px;
                        width: 184px;
                        height: 20px;
                        
                        /* Typography */
                        font-size: 10px;
                    }
                i {
                    /* Visual */
                    color: $light-pink;
                    font-size: 10px;
                    
                    /* Positioning */
                    position: absolute;
                    right: 3px;
                    padding: 10px 12px;
                }
            }
        }
    }
    .contact-info { 
        /* Positioning */
        margin-top: 8px; 
        
        /* Typography */
        letter-spacing: 0.2px;
        ul {
            li { margin-right: -3px; }
        }
    }
    .navbar {
        /* Visual */
        background-color: $transparent;
        border: none;
        
        /* Box-model */
        min-height:30px !important;
        .navbar-header {
            .navbar-toggle {
                /* Visual */
                background-color: $grey;
                &:hover { background-color: $dark-grey; }
            }
        }
        .navbar-nav{
            li{
                a{  
                    /* Positioning */
                    display: inline;
                    
                    /* Box-model */
                    padding-top: 0 !important; 
                    padding-bottom: 0 !important;
                    padding: 0 6px;
                    
                    /* Typhogaphy */
                    font-size: 12px;
                    
                    /* Visual */
                    &:hover { color: $dark-grey; }
                }
            }
        }
    }
}










