//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$font-poppins: 'Poppins', sans-serif;

$font-handlee: 'Handlee', cursive;

/// Regular font family
$font-opensans: 'Open Sans';

/// @type List
$text-font-stack: $font-poppins, 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

$text-color: #333 !default;

/// Medium grey
/// @type Color
$mid-grey: #999 !default;

/// Dark grey
/// @type Color
$dark-grey: #444 !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;

$brand-color: #f39c12 !default;

$brand-2: #cc8515;

$light-grey: #f4f3f4 !default;

$black: #000;

$white: #fff;

$grey-1: #e3e3e3;

$grey-2: #959595;

$grey-3: #383838;
