// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
    @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
    #{$context} & {
        @content;
    }
}

@mixin font-face($fontFamily, $path, $fileName, $svgLabel, $fontWeight: normal, $fontStyle: normal) {

	@font-face {
		font-family: $fontFamily;

		src: url('#{$path + $fileName}.eot');
		src: url('#{$path + $fileName}.eot?#iefix') format('embedded-opentype'),
		url('#{$path + $fileName}.woff') format('woff'),
		url('#{$path + $fileName}.ttf') format('truetype'),
		url('#{$path + $fileName}.svg##{$svgLabel}') format('svg');

		font-weight: $fontWeight;
		font-style: $fontStyle;
	}

}

@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media screen and (max-width: 767px) {
          @content;

        }
    }

    @else if $breakpoint == "sm" {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $breakpoint == "md" {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $breakpoint == "lg" {
        @media screen and (min-width: 1200px) {
            @content;
        }
    }
}

/* custom code */

/* paging navbar and logo queries */
.navbar {
    .divider-bot {
        @include respond-to(sm) { padding-bottom: 15px; }
        @include respond-to(lg) { padding-bottom: 8px; }
    }
    .navbar-header {
        @include respond-to(xs) {
            /* Box-model */
            padding-bottom: 35px;
            padding-bottom: none;
        }
        .goo-logo {
            @include respond-to(xs) { margin-top: -15px; }
            @include respond-to(sm) {
                /* Positioning */
                margin-top: -15px;
                
                /* Box-model */
                height: 60px;
            }
            @include respond-to(md) { margin-top: -50px; }
            @include respond-to(lg) {
                /* Positioning */
                margin-top: -50px;
                margin-left: -15px;
                
                /* Box-model */
                height: 85px;
            }
        }
    }
    .navbar-nav {
        li {
            @include respond-to(sm) { margin-top: 42px; }
            @include respond-to(md) {
                /* Positioning */
                margin-top: 27px;
                
                /* Misc */
                &:not(:first-child):before { content: " | "; }
            }
            @include respond-to(lg) {
                /* Positioning */
                margin-top: 27px;
                /* Misc */
                &:not(:first-child):before { content: " | "; }
            }
            a {                            
                @include respond-to(sm) { margin-top: 25px; }
                @include respond-to(md) { margin-top: 25px; }
                @include respond-to(lg) { margin-top: 25px; }
            }
        }
    }
}

/* main section carousel gallery > slideshow & item bought queries*/
.slide-show {
    .item-gallery {
        @include respond-to(sm) { margin-top: 27px; }
        @include respond-to(md) { margin-top: 27px; }
        @include respond-to(lg) { margin-top: 27px; }
        ul {
            @include respond-to(xs) {
            }
            li {
                .thumbnail {
                    @include respond-to(sm) {
                        /* Box-model */
                        width: 80px;
                        max-height: 85px;
                        
                        /* Box-model */
                        min-height: 100px;
                        
                        /* Positioning */
                        margin-top: -18px;
                        padding-top: 13px;
                        
                        /* Visual */
                        &:hover {
                            opacity: 0.5;
                            transition: 1s;
                        }
                    }
                    @include respond-to(md) {
                        /* Box-model */
                        width: 80px;
                        max-height: 85px;
                        
                        /* Box-model */
                        width: 80px;
                        max-height: 85px;
                        
                        /* Positioning */
                        margin-left: -91px;
                        margin-top: -18px;
                        
                        /* Visual */
                        &:hover {
                            opacity: 0.5;
                            transition: 1s;
                        }
                    }
                    @include respond-to(lg) {
                        /* Box-model */
                        width: 80px;
                        max-height: 85px;
                        
                        /* Positioning */
                        margin-left: -91px;
                        margin-top: -18px;
                        
                        /* Visual */
                        &:hover {
                            opacity: 0.5;
                            transition: 1s;
                        }
                    }
                }
            }
        }
    }
    .img-preview {

        .carousel {
            @include respond-to(sm) {
                /* Positioning */
                margin-top: 10px;
                right: 40px;
            }
            @include respond-to(md) {
                /* Positioning */
                margin: 20px 0 0 -85px;
                
                /* Box-model */
                width: 300px;
            }
            @include respond-to(lg) {
                /* Positioning */
                margin: 20px 0 0 -85px;
                
                /* Box-model */
                width: 300px;
            }
            .carousel-indicators {
                @include respond-to(xs) { display: none; }
                @include respond-to(md) {
                    /* Positioning */
                    position: absolute;
                    bottom: 291px;
                    left: 295px;
                }
                @include respond-to(lg) {
                    /* Positioning */
                    position: absolute;
                    bottom: 291px;
                    left: 295px;
                }
                li {
                    @include respond-to(md) {
                        /* Positioning */
                        display: inline-block;
                        text-indent: 0;
                        margin-right: -2px;
                        
                        /* Box-model */
                        width: 16px;
                        height: 17px;
                        border: none;
                        
                        /* Misc */
                        cursor: pointer;
                    }
                    @include respond-to(lg) {
                        /* Positioning */
                        display: inline-block;
                        text-indent: 0;
                        margin-right: -2px;
                        
                        /* Box-model */
                        width: 16px;
                        height: 17px;
                        border: none;
                        
                        /* Misc */
                        cursor: pointer;
                    }
                }
                .active {
                    @include respond-to(md) {
                        /* Positioning */
                        display: inline-block;
                        padding-top: -10px;
                        margin-left: 1.5px;
                        
                        /* Box-model */
                        width: 16px;
                        height: 17px;

                        /* Misc */
                        filter: grayscale(100%);
                    }
                    @include respond-to(lg) {
                        /* Positioning */
                        display: inline-block;
                        padding-top: -10px;
                        margin-left: 1.5px;
                        
                        /* Box-model */
                        width: 16px;
                        height: 17px;
                        
                        /* Misc */
                        filter: grayscale(100%);
                    }
                }
            }
        }
    }
    .group-item-bought {
        @include respond-to(sm) {
            /* Positioning */
            bottom: 5px;
            margin: 0 auto;
            
            /* Bpx-model */
            min-width: 100%;
        }
        @include respond-to(md) {
            /* Positioning */
            left: -44px;
            bottom: 5px;
            
            /* Bpx-model */
            width: 470px;
        }
        @include respond-to(lg) {
            /* Positioning */
            left: -44px;
            bottom: 5px;
            
            /* Bpx-model */
            width: 470px;
        }
        .item-bought{
            @include respond-to(sm) { margin-top: 10px; }
            @include respond-to(md) {
                /* Positioning */
                left: -5px;
                margin-top: 10px;

                /* Box-model */
                width: 460px;
                padding: 0;
            }
            @include respond-to(lg) {
                /* Positioning */
                left: -5px;
                margin-top: 10px;

                /* Box-model */
                width: 460px;
                padding: 0;
            }
        }
    }
}
/* item product information queries */
.product-info {
    @include respond-to(md) {
        /* Positioning */
        left: 15px;
        width: 430px;
    }
    @include respond-to(lg) {
        /* Positioning */
        left: 15px;
        width: 430px;
    }
    .pn-code {
        @include respond-to(md) {
            /* Positioning */
            margin-top: 8px;
            padding-left: 5px;
        }
        @include respond-to(lg) {
            /* Positioning */
            margin-top: 8px;
            padding-left: 5px;
        }
    }
    ul {
        li {
            @include respond-to(md) {
                /* Positioning */
                margin-right: 3px;
                padding: 0;
            }
            @include respond-to(lg) {
                /* Positioning */
                margin-right: 3px;
                padding: 0;
            }
        }
    }
    .btn-checkout {
        @include respond-to(xs) { margin-left: 3px; }
    }
}

/* wrapping element for footer and copyright queries*/
footer {
    @include respond-to(xs) { margin-top: 20px; }
    @include respond-to(sm) { margin-top: 20px; }
    .img-advertisement {
        @include respond-to(xs) { margin-bottom: 15px; }
        @include respond-to(sm) { margin-bottom: 15px; }
        @include respond-to(lg) {
            /* Positioning */
            margin-left: -30px;

            /* Box-model */
            height: 85px;
            width: 525px;
            max-width: 700px;
        }
        
    }
    .wrapping-signup-footer {
        @include respond-to(xs) { margin-bottom: 15px; }
        @include respond-to(sm) { 
            padding-bottom: 10px;
            
            /* Positioning */
            text-align: center;
        }
        @include respond-to(lg) { padding-left: 32px; }
        .signup-form {
            @include respond-to(sm) { 
                /* Box-model */
                width: 300px;
                
                /* Positioning */
                margin: 0 auto;
            }
        }
    }
}

.copyright {
    .copyright-wrapper {
        @include respond-to(xs) { text-align: center; }
        @include respond-to(sm) { text-align: center; }
    }
    .designer { 
        @include respond-to(xs) { float: none !important; }
        @include respond-to(sm) { float: none !important; }
    }
}



/* custom width size container for md & lg */
.container {
    @include respond-to(md) { max-width: 900px; }
    @include respond-to(lg) { max-width: 900px; }
}


