//main: ../main.scss

/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;

  p {
    color: $text-color;
    font: normal 15px $font-poppins;
  }
}

.featured-title-heading {
  color: $white;
  font: 300 35px/55px $font-poppins;
}

.featured-sub-heading {
  color: $white;
  font: 300 19px/25px $font-handlee;
}

.section-title {
  font-weight: 300;
  font-size: 30px;
}

.featured-title {
  margin-top: 15px;

  font: 600 16px $font-poppins;
  text-transform: uppercase;
}

.featured-description {
  font: 300 14px $font-poppins;
}
